@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');
body{
    background-image: url(https://images.unsplash.com/photo-1572116469696-31de0f17cc34?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29ja3RhaWwlMjBiYXJ8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    background-color: #000000;
    color: white;
    padding: 15px 0;
    font-size: 40px;
    text-align: center;
    margin-top: auto;
    font-family: "Big Shoulders Stencil", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

